@mixin button($color) {
    @if $color == black { //false
        font-size: 32px;
        background-color: white;
        color: $color;
    } @else if $color == white { //false
        font-size: 24px;
        background-color: black;
        color: $color;
    } @else {
        font-size: 16px;
        background-color: blue;
        color: $color;
    }
}

// 1. if 단독
// 2. if/ else
// 3. if/ elif/ else
// 4. if/elif/elif..../ else


.btn {
    @include button(red);
}