/* div {
    background: pink;
  }
  h2 {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    color: lemonchiffon;
  } */

.box {
    background: rgb(129, 190, 224);
  }
  .text {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    color: rgb(40, 78, 134);
  }